---
Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: false
BinPackParameters: true
BreakBeforeBraces: Stroustrup
ColumnLimit: 200
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never

# --- HEADER SORTING ---
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # BWAPI Headers first
  - Regex: '^<BWAPI'
    Priority: 1
  # System Headers (Anything with < >)
  - Regex: '^<'
    Priority: 2
  # Project Headers (Anything with " ")
  - Regex: '^"'
    Priority: 3